* {
    font-family: 'Big Shoulders Display', cursive;
    color: #fff;
    text-align: center;
    padding:0;
    margin:0;
}

img {
    max-width: 50%;
    max-height: 90%;
}

/* WITH HEAD */

.head {
    width: 100vw;
    height: 15vh;
    background-color: #181818;

}

.body {
    width: 100vw;
    height: 75vh;
    background-color: #181818;

}

.foot {
    width: 100vw;
    height: 10vh;
    background-color: #181818;
}

.head-text {
    font-size: 10vh;
    font-weight: bold;
}

.body-text {
    font-size: 5vh;
    padding: 2vh 0vw;
}

.foot-text {
    font-size: 5vh;
    padding: 0vh 2vw;
}

/* HEADLESS */

.headless-body {
    width: 100vw;
    height: 90vh;
    background-color: #181818;


}

.headless-body-text {
    font-family: "Abril Fatface", serif;
    font-size: 70vh;
}